SET2/anuragjha_set2_question25.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE books [
    <!ELEMENT books (book+)>
    <!ELEMENT book (id, title, author, publisher, price)>
    <!ELEMENT id (#PCDATA)>
    <!ELEMENT title (#PCDATA)>
    <!ELEMENT author (#PCDATA)>
    <!ELEMENT publisher (#PCDATA)>
    <!ELEMENT price (#PCDATA)>
]>

<books>
    <book>
        <id>1</id>
        <title>Java Programming</title>
        <author>James Gosling</author>
        <publisher>Oracle Press</publisher>
        <price>500</price>
    </book>

    <book>
        <id>2</id>
        <title>Web Technology</title>
        <author>John Smith</author>
        <publisher>Tech Publications</publisher>
        <price>450</price>
    </book>
</books>